<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--    og tag-->
    <meta property="og:title" content="my blog" />
    <meta property="og:description" content="그냥 쓱 한번 보고가슈" />
    <!-- <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" /> -->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Kakao 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- 내가 만든 JS & CSS -->
    <script src="/js/boardDetail.js"></script>
    <link rel="stylesheet" href="/css/board.css" /> 


    <!-- 폰트 스타일 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">


    <title>Travel the World</title>
    <script>

    </script>


</head>
<body>
    <div id='background' style="background-color:#FFFBFC">
       
        <div class='wrap'>
            <%-include ('banner') %>
            <div class='post_body'>
                <h6 id='date'></h6>
                <div class='title'>
                <!-- 작성자 & 제목 넣는 곳 -->
                    <div style='float: left' id='title_and_author'></div>
                    <!-- 수정, 삭제, 저장 버튼 위치 -->
                    <div style='float: right' id='btn'></div>
                </div>
                <!-- 내용 넣는 곳 -->
                <div class='content' id ='content_detail'><hr></div>
            </div>
            <!--comment 다는 곳 -->
            <div class='comment_body'>   
                <div class="form-floating">
                    <textarea onclick='check_auth()' id='comment_content' class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
                <div class='comment_btn'>
                    <button id="upload_btn" type="button" onclick='upload_comment()' class="btn btn-secondary">댓글달기</button>
                </div>
        
                <table class="table">
                    <tbody id="comment_list">
                    </tbody>
                </table>
    
        
            </div>


        </div>   


    </div>
</body>
</html>