<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--    og tag-->
    <meta property="og:title" content="my blog" />
    <meta property="og:description" content="그냥 쓱 한번 보고가슈" />
    <!-- <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" /> -->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Kakao 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- 내가 만든 JS & CSS -->
    <!-- <script src="/js/boardDetail.js"></script>
    <link rel="stylesheet" href="/css/board.css" />  -->


    <!-- 폰트 스타일 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">


    <title>Travel the World</title>

    <style>
    .comment_body {
        padding: 60px;
        margin-top: 0px;
        height: 600px;
    }

    .comment_input {
        width: 100%; /* Full width */
        height: 10px
    }

    .pagiination {
        margin: auto;
        display: block;
        width: 100%;
    }

    .comment_btn {
        float: right;
        margin-top: 10;
        margin-bottom: 10px;
    }

    .comment_list {

    }


    </style>    
    <script>
        function upload_comment() {
            // Case 00:: 로그인 유무 검사
            if (localStorage.length == 0) {
                alert('로그인이 필요한 기능이라구!')
                window.location.herf='signup'
                return; 
            }

            $.ajax({
            type: 'POST',
            url: `/api/comment`,
            // headers: {
            //     authorization: `Bearer ${localStorage.getItem("token")}`,
            // },
            data: {
                content: $('#comment').val(),                    
            },
            success: function (response) {
                if(response.result == 'success') {
                    alert('업로드 쿳')
                    // window.location.href=`detail?boardId=${boardId}`
                }
            }
        })
    }

    </script>
</head>
<body>
    <div class='comment_body'>   
        <div class="form-floating">
            <textarea id='content' class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <div class='comment_btn'>
            <button type="button" onclick='upload_comment()' class="btn btn-secondary">댓글달기</button>
        </div>

        <table class="table">
            <tbody>
            <tr>                     
                <td>닉네임이라구</td>
                <td>잘보고감미다,,^^</td>
                <td>2021-07-06</td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
            <tr>                     
                <td>닉네임이라구</td>
                <td>잘보고감미다,,^^</td>
                <td>2021-07-06</td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>

    </div>
</body>
</html>